 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.navbar {
    background:rgb(48, 47, 47);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }


#navbar__logo {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.navbar__menu {
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
}
.navbar__item {
    height: 80%;
}
.navbar__links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    transition: all 0.6s ease;

}
.navbar__links:hover {
    color: #ff9f00;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        z-index: 1;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0; 
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        background: rgb(48, 47, 47);
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        top: -1000px;
        padding-bottom: 30px;
    }

    .navbar__menu.active {
        background: rgb(48, 47, 47);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 65vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
    
      .navbar__toggle .bar {
        display: block;
        cursor: pointer;
      }
      #mobile-menu.is-active .bar:nth-child(2) {
          opacity: 0;
      }
      #mobile-menu.is-active .bar:nth-child(1) {
          transform: translatey(8px) rotate(45deg);
      }
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
      }    
}
body{
margin: 0;
padding: 0;
align-items: center;
height: 100vh;
background-color: lightgrey;
justify-content: center;
text-align: center;
}
.slider{
    width: 150%px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .slides{
    width: 100;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 1000px;
    transition: 2s;
  }
  
  .slide img{
    width: 500px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid rgb(48, 47, 47);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: rgb(48, 47, 47);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: -80%;
  }
  #radio6:checked ~ .first{
    margin-left: -100%;
  }
  #radio7:checked ~ .first{
    margin-left: -120%;
  }

  /* css automatic navigation */
  
  .navigation-auto {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 520px;
  }

  .navigation-auto div{
    border: 2px solid rgb(48, 47, 47);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    }
    .navigation-auto div:not(:last-child) {
      margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1  {
      background: rgb(48, 47, 47);
    }

    #radio2:checked ~ .navigation-auto .auto-btn2  {
      background: rgb(48, 47, 47);
    }

    #radio3:checked ~ .navigation-auto .auto-btn3  {
      background: rgb(48, 47, 47);
    }

    #radio4:checked ~ .navigation-auto .auto-btn4  {
      background: rgb(48, 47, 47);
    }

    #radio5:checked ~ .navigation-auto .auto-btn5  {
      background: rgb(48, 47, 47);
    }

    #radio6:checked ~ .navigation-auto .auto-btn6  {
      background: rgb(48, 47, 47);
    }

    #radio7:checked ~ .navigation-auto .auto-btn7  {
      background: rgb(48, 47, 47);
    }

    /* Home Section */
    .hero {
      background-color: black;
      height: 50vh;
      max-width: 1400px;
      background-image: url("photos/photo8.png");
      color: white;
      filter: invert();
    }
    .hero-container {
      justify-content: center;
      text-align: center;
      align-items: center;
      display: grid;
    }
    .hero-heading {
      text-align: center;
      justify-content: center;
      margin-top: 100px;
    }
    
     .header_wrapper {
       height: 30vh;
       display: flex;
       margin: 0px;
       padding: 0px;
       background-image: url("background-imgs/title-area-img.png");
       background-size: cover;
       background-position: center;
       justify-content: center;
       align-items: center;
     }

     .header_container {
       display: flex;
       align-items: center;
       justify-content: center;
       max-width: 1300px;
       width: 100%;
       height: 30vh;
       padding: 0px, 90px;
     }

     .header_container h1 {
       font-size: 2.5rem;
       font-weight: lighter;
       color: rgb(48, 47, 47);
     }

     .header_container span {
       font-style: italic;
       font-family:Georgia, 'Times New Roman', Times, serif;
       font-size: 2.5rem;
       color: rgb(48, 47, 47);
     }

     .header_container h1 span {
       width: 100%;
       flex-direction: row;
       justify-content: space-between;
       text-align: center;
       align-items:baseline;
     }
     
     .main_wrapper {
       max-width: 1300px;
       height: 100%;
       margin: 0px;
       padding-top: 15vh;
       justify-content: center;
       align-items: center;
     }

     .main_container {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      height: 100vh;
    }

     .photos_container {
       display: grid;
       grid-template-columns: 270px 270px 270px 270px;
       width: 100%;
       height: 30vh;
       justify-content: center;
     }

     .div1 {
      height: 270px;
      background-image: url(/Photos2/1.png);
      background-size: cover;
      display: grid;
     }

     .div2 {
      height: 270px;
      background-image: url(/Photos2/2.png);
      background-size: cover;
     }

     .div3 {
      height: 270px;
      background-image: url(/Photos2/3.png);
      background-size: cover;
     }

     .div4 {
      height: 270px;
      background-image: url(/Photos2/4.png);
      background-size: cover;
     }

     .div5 {
      height: 270px;
      background-image: url(/Photos2/5.png);
      background-size: cover;
     }

     .div6 {
      height: 270px;
      background-image: url(/Photos2/6.png);
      background-size: cover;
     }

     .div7 {
      height: 270px;
      background-image: url(/Photos2/9.png);
      background-size: cover;
     }

     .div8 {
      height: 270px;
      background-image: url(/Photos2/8.png);
      background-size: cover;
     }

     .content_container {
      display: grid;
      grid-template-columns: 355px 355px 355px;
      height: 30vh;
      size: .0rem;
      justify-content: center;
      align-content: center;
      align-items: center;
      row-gap: 40px
      ;

     }

     .content {
      height: 50px;
      display: grid;
      font-weight: lighter;
      width: 80%;   
      justify-content: center;
      padding-left: 50px;
      }
     .content h2 {
       padding-bottom: 3%;
       font-size: 1rem;
     }

     .content p {
       font-weight: lighter;
       font-size: 1rem;
       padding-bottom: 10%;
     }

     .first_culm {
       display: flex;
       justify-content: left;
     }

     .second_culm {
       display: flex;
       justify-content: right;
      }

      .fa-heart {
        color: #ff9f00;
      }

      .fa-comments {
        color: #ff9f00;
      }

      .fa-lightbulb {
        color: #ff9f00;
      }

      .fa-file-circle-check {
        color: #ff9f00;
      }

      .fa-cloud {
        color: #ff9f00;
      }

      .fa-pen-to-square {
        color: #ff9f00;
      }

      .fa-comment {
        color: #ff9f00;
      }
    
      section {
        justify-content: center;
        align-items: center;
        padding: 0px 30px;
        height: 80vh;
        background-image: url(/background-imgs/title-area-img.png);
        background-position: center;
        background-size: cover;
      }

      .statics_section {
        width: 100%;
        max-width: 1300px;

      }

      .flex-wrapper {
        max-width: 1300px;
        width: 100%;
        display: grid;
        
      }
      .heading_wrapper {
        margin-top: 10%;
      }

      .text_container {
        gap: 150px;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 10vh;
      }

      .text_container h1 {
        font-size: 2.5rem;
      }

      .text_container span {
          font-style: italic;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size: 3rem;
        }

      .text_container h1 {
        font-size: 3rem;
        padding-bottom: 2%;
        font-weight: lighter;
      }

      .text_container p {
        font-weight: lighter;
        font-stretch: ultra-expanded;
      }
     
      .flex-wrapper {
        display: grid;
        grid-template-columns: 290px 290px 290px 290px;
        max-width: 1400px;
        width: 100%;
        justify-content: center;
        text-align: center;
      }

      .static_desc {
        width: 100%;
        align-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
      }

      .static_desc h1 {
        padding-bottom: 10px;
        width: 100%;
        font-size: 1.3rem;
        font-weight: normal;
      }

      .static_desc p {
        width: 100%;
        text-align: center;
        font-weight: lighter;
        font-size: .9rem;
      }

      .single-chart {
        width: 200px;
        padding-left: 28%;
        
      }
      
      .circular-chart {
        display: flex;
        margin: 10px 0px;
        max-width: 1000%;
        max-height: 250px;
        justify-content: left;
        align-items: center;
        align-content: center;
      }
      
      .circle {
        fill: none;
        stroke-width: 2.8;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
      }
      
      @keyframes progress {
        0% {
          stroke-dasharray: 0 100;
        }
      }
      
      .circular-chart.orange .circle {
        stroke: #ff9f00;
      }

      .percentage {
        fill: #666;
        font-family: sans-serif;
        font-size: 0.5em;
        text-anchor: middle;
      }

     /* FOOTER */
     .footer_wrapper {
       background-color: rgb(48, 47, 47);
       width: 100%;
       max-width: 1400%;
       height: 30vh;
       padding: 12vh 0vh 15vh 0vh;
     }

     .footer_container {
       color: #fff;
       display: grid;
       grid-template-columns: 280px 280px 280px 280px;
       justify-content: center;
     }

     .first__culm {
       display: grid;
       justify-content: center;
     }

     .first__culm:hover {
      color: #ff9f00;
      transition: all 0.3s ease;
     }
     
     .social_media {
       display: flex;
       justify-content: space-around;
       color: #ff9f00;
       transition: all 0.3s ease;
     }

     a {
      color: #fff;
      transition: all 0.3s ease;
     }

     a:hover {
      color: #ff9f00;
      transition: all 0.3s ease;
      transform: scale(1.18);
      transition: 0.3s ease-in;
      cursor: pointer;
     }

     .first__culm .space {
       padding-bottom: 5px;
     }

     .first__culm p {
       font-weight: lighter;
     }

     @media screen and (max-width: 1100px) {
       .header_container {
         width: 200%;
       }
       .header_container h1{
         font-size: 3rem;
       }

       .header_container span{
        font-size: 3rem;
      }

      .photos_container {
        display: grid;
        grid-template-columns: 300px 300px;
        width: 100%;
        height: 70vh;
        justify-content: center;
      }

      .main_container {
        min-height: 200vh;
      }

      .main_wrapper {
        min-height: 70vh;
      }

      .content_container {
        display: grid;
        grid-template-columns: 350px 350px;
        height: 70vh;
        size: .0rem;
        justify-content: center;
        margin-top: 10px;
        align-content: center;
        align-items: center;
       }

       .content {
        /* padding-top: 10px; */
        height: 90px;
        display: grid;
        font-weight: lighter;
        width: 90%;   
        justify-content: center;
        padding-left: 50px;
       }

       .flex-wrapper {
        display: grid;
        grid-template-columns: 290px 290px;
        max-width: 1400px;
        width: 100%;
        justify-content: center;
        text-align: center;
      }

      section {
        height: 120vh;
      }

      .footer_container {
        color: #fff;
        display: grid;
        grid-template-columns: 300px 300px;
        justify-content: center;
        text-align: left;
        align-items: center;
        row-gap: 20px;
     }

     .footer_wrapper {
      background-color: rgb(48, 47, 47);
      width: 100%;
      max-width: 1400%;
      height: 35vh;
      margin-bottom: 50px;
    }

    .first__culm {
      display: grid;
      justify-content: center;
    }
    
    .social_media {
      display: flex;
      justify-content: space-around;
    }

    .first__culm .space {
      padding-bottom: 5px;
    }

    .first__culm p {
      font-weight: lighter;
    }

    }
    @media screen and (max-width: 620px) {
      .header_container {
        width: 200%;
      }
      .header_container h1{
        font-size: 2rem;
      }

      .header_container span{
       font-size: 2rem;
     }

     .photos_container {
       display: grid;
       grid-template-columns: 300px;
       width: 150%;
       height: 70vh;
       justify-content: center;
     }

     .main_container {
       min-height: 400vh;
     }

     .main_wrapper {
       min-height: 140vh;
       /* height: 90vh; */
       padding-bottom: 30vh;
     }

     .content_container {
       display: grid;
       grid-template-columns: 350px;
       height: 80vh;
       size: .0rem;
       justify-content: center;
       margin-top: 10px;
       align-content: center;
       align-items: center;
      }

      .text_container h1 {
        font-size: 2rem;
      }

      .text_container span {
          font-style: italic;
          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size: 2rem;
      }

      .content {
       /* padding-top: 10px; */
       height: 90px;
       display: grid;
       font-weight: lighter;
       width: 90%;   
       justify-content: center;
       padding-left: 50px;
      }

      .flex-wrapper {
       display: grid;
       grid-template-columns: 290px;
       max-width: 1400px;
       width: 100%;
       justify-content: center;
       text-align: center;
     }

     section {
       height: 180vh;
     }

     .footer_container {
       color: #fff;
       display: grid;
       grid-template-columns: 300px;
       justify-content: center;
       text-align: left;
       align-items: center;
       row-gap: 20px;
    }

    .footer_wrapper {
     background-color: rgb(48, 47, 47);
     width: 100%;
     max-width: 1400%;
     height: 65vh;
     margin-bottom: 50px;
   }
    }

    /* ///////////////////////////////////// */
    /* Services Page */

    .services {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 85vh;
      text-align: center;
      padding: 1rem;
      margin-top: 10px;
    }

    .title_wrapper {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
      padding: 0rem 0px 0px 0px;
      border: 2 solid black;
      padding: 30px;
    }
    
    .title h1 {
      color: rgb(48, 47, 47);
      font-size: 3rem;
      padding-bottom: 10PX;
    }

    .title h3 {
      color: rgb(48, 47, 47);
      font-size: 1.5rem;
      justify-content: center;
      align-items: center;
      padding-top: 0PX;
    }

    .work_heading {
      display: flex;
      justify-content: center;
      text-align: center;
      align-content: center;
      padding: 70px 0px 10px 0px;
    }

    .work_heading h1 {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
    }

    .services_wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      height: 80rem;
      justify-content: center;
      align-items: center;
      margin: 10rem, 0;
    }

    .services_card {
      margin: 10px;
      height: 525px;
      width: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
    }

    .services_card:nth-child(1) {
      background-image: url(/photos/photo8.png);
      background-size: cover;
    }

    .services_card:nth-child(2) {
      background-image: url(/photos/photo3.png);
    }

    .services_card:nth-child(3) {
      background-image: url(/photos/photo2.png);
    }

    .services_card:nth-child(4) {
      background-image: url(/photos/photo4.png);
    }

    .services_card:hover {
      transform: scale(1.075);
      transition: 0.3s ease-in;
      cursor: pointer;
    }

    

    .content_box {
      margin-top: 400px;
      width: 300px;
      height: 200px;
      background-color: #ff9f00;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .content_box button:hover {
      -webkit-box-shadow: inset 0 -2px rgb(48, 47, 47);
      box-shadow: inset 0 -2px rgb(48, 47, 47, 0.262);
      transition: 1s all ease-in-out;
      border-radius: 30px;
      cursor: pointer;
    }

    .services_btn {
      margin-top: 15px;
    }

    .services_btn button {
      background-color: #d3d3d3;
      border-style: none;
      border-radius: 30px;
      padding: 5px 30px;
      box-shadow: #666;
    }

    .work_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 18rem;
    }

    .work-progress {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20rem;
      padding: 5rem, 0;
      margin: 10px;


    }

    .working_process {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 1rem 0rem;
      margin: 30rem, 0;
    }

    .flow_content {
      margin: 10px;
      height: 225px;
      width: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: rgb(48, 47, 47);
      /* border: black solid; */
      padding: 20px;
      z-index: 999;
    }

    .flow_content:hover {
      transform: scale(1.075);
      transition: 0.3s ease-in;
      cursor: pointer;
    }

    .flow_content div .fa-lightbulb {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(/background-imgs/title-area-img.png);
      margin-left: 80px;
      margin-bottom: 10px;
    }

    .flow_content div .fa-comment {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(/background-imgs/title-area-img.png);
      margin-left: 80px;
      margin-bottom: 10px;
    }
    .flow_content div .fa-cloud {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(/background-imgs/title-area-img.png);
      margin-left: 80px;
      margin-bottom: 10px;
    }
    .flow_content div .fa-pen-to-square {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      background-image: url(/background-imgs/title-area-img.png);
      margin-left: 80px;
      margin-bottom: 10px;
    }

    .flow_content h1 {
      font-size: 1.5rem;
      font-weight: bold;
      color: rgb(48, 47, 47);
    }

    .flow_content p {
      font-size: 1rem;
      font-weight: lighter;
      color: rgb(48, 47, 47);
    }

    .geeks {
      width: 100px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 35rem;
      left: 20rem;
      transform: translate(-98%, -130%);
      display: flex;
      justify-content: center;
  }

  .geeks::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ff9f00;
      animation: animate 5s linear infinite;
  }
    .geeks2 {
      width: 100px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 35rem;
      left: 40rem;
      transform: translate(-98%, -130%);
      display: flex;
      justify-content: center;
  }

  .geeks2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ff9f00;
      animation: animate 5s linear infinite;
  }
    .geeks3 {
      width: 100px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 35rem;
      left: 60rem;
      transform: translate(-98%, -130%);
      display: flex;
      justify-content: center;
  }

  .geeks3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ff9f00;
      animation: animate 5s linear infinite;
  }

  @keyframes animate {
      0% {
          left: 0;
      }

      50% {
          left: 95%;
      }

      0% {
          left: 0;
      }

  }

   /* CONTACT FORM */
   .form_wrapper {
     height: 95vh;
     width: 100%;
     border: black 1 solid;
     padding: 5rem, 5rem;
     margin-bottom: 10rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 50px 0;
   }

   .form {
     display: grid;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(/background-imgs/title-area-img.png);
     background-size: cover;
     height: 40rem;
     width: 70rem;
   }

   .form_container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 30px;
     width: 30rem;
   }

   .input {
     display: grid;
     grid-row: auto;
     width: 20rem;
     row-gap: 50px;
   }
   
   .your-message {
     height: 5rem;
   }

   .message_label {
     height: 5rem;
   }

   .label {
    display: grid;
    justify-content: right;
    text-align: center;
    color: rgb(48, 47, 47);
   }

  

   .in-touch h1 {
    font-size: 2.5rem;
    font-weight: lighter;
  }

  .in-touch span {
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
  }

  .name {
    border: rgb(194,222,206) solid 1px;
    padding: 5px;
  }

  .email {
    border: rgb(194,222,206) solid 1px;
    padding: 5px;
  }

  .phone_number {
    border: rgb(194,222,206) solid 1px;
    padding: 5px;
  }

  .your-message {
    border: rgb(194,222,206) solid 1px;
    padding: 5px;
  }

  .in-touch h1 {
    color: rgb(48, 47, 47);
    padding: 5px;
    margin-top: 20px;
  }

  .submit_button {
    color: rgb(48, 47, 47);
    background-color: none;
    border: rgb(194,222,206) solid 2px;
    padding: 10px;
    width: 10rem;
    border-radius: 40px;
    background-image: url(/background-imgs/title-area-img.png);
  }

  .submit_button:hover {
    background-image: none;
    -webkit-box-shadow: inset 0 -2px rgb(48, 47, 47);
    box-shadow: inset 0 -2px rgba(48, 47, 47, 0.262);
    transition: 1s all ease-in-out;
    border-radius: 30px;
    cursor: pointer;
  }

  .submit {
    margin-top: -30px;
  }

  /* GALLERY */

  .container_g {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 250px 300px;
    grid-gap: 10px;
    margin: 20px;
    /* height: 200vh; */
  }

  .gallery_item {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .gallery_item .image_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .gallery_item .image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .gallery_item:hover .image_container img {
    transform: scale(1.2);
  }

  .gallery_item .text_con {
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: .3 s ease-in-out;
    backdrop-filter: blur(5px) saturate(1.8);
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
  }

  .gallery_item:hover .text_con {
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1rem;
    width: 100%;
  }

  .w_1 {
    grid-column: span 1;
  }
  .w_2 {
    grid-column: span 2;
  }
  .w_3 {
    grid-column: span 3;
  }
  .w_4 {
    grid-column: span 4;
  }
  .w_5 {
    grid-column: span 5;
  }
  .w_6 {
    grid-column: span 6;
  }
  .w_7 {
    grid-column: span 7;
  }
  .w_8 {
    grid-column: span 8;
  }
  .w_9 {
    grid-column: span 9;
  }

  .h_1 {
    grid-row: span 1;
  }
  .h_2 {
    grid-row: span 2;
  }
  .h_3 {
    grid-row: span 3;
  }
  .h_4 {
    grid-row: span 4;
  }
  .h_5 {
    grid-row: span 5;
  }
  .h_6 {
    grid-row: span 6;
  }
  .h_7 {
    grid-row: span 7;
  }
  .h_8 {
    grid-row: span 8;
  }
  .h_9 {
    grid-row: span 9;
  }
  

  @keyframes move-down {
    0% {
      top: 10%;
    }
    50% {
      top: 35%;
    }
    100% {
      top: 50%;
    }
  }

  /* HOME PAGE */
  .home_wrapper {
    display: flex;
    grid-auto-rows: 300px;
    height: 90vh;
    color: #fff;
    width: 100%;
    /* max-width: 1400px; */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: linear-gradient(rgb(48, 47, 47), rgba(255, 0, 0, 0));
  }

  /* @keyframes border {
    0% {border-: #ff9f00 solid 5px;}
    25% {border-right: #ff9f00 solid 5px;}
    50% {border-right: #ff9f00 solid 5px;}
    100% {border-left: #ff9f00 solid 5px;}
  } */

  .home_container {
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    display: flex;
  }

  .home_item {
    display: flex;
    padding: 70px;
    margin: 120px;
    width: 80%;
    height: 50%;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 20px;
    position: relative;
    justify-content: first baseline;
    align-items: center;
    border-left: #ff9f00 solid 5px;
    animation-name: border;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
    animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    animation-direction: alternate-reverse;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(39, 38, 38));
  }

  .home_text {
    text-align: left;
    z-index: 99;
  }

  .image_home {
    transform: scale(1.7);
    padding-right: 100px;
    position: relative;
  }

  .home_text h3 {
    font-weight: lighter;
    color: #ff9f00;
    width: 12ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
  

  .home_text h1 {
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 10px 8px 13px #00000065;

  }

  .home_text p {
    margin: 50px, 0px;
    text-shadow: 10px 8px 13px #00000065;

  }

  .image_home img {
    /* border-bottom: #ff9f00 solid 10px; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    text-shadow: 10px 10px 13px #00000091;
  }


  .about_me_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 80%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: #fff;
    /* background-color: #ff9f00; */
    border: #ff9f00 solid 2px;
    padding: 5px;
    width: 7rem;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
  }

  .about_me_button a {
    position: relative;
    color: #fff;
  }

  .about_me_button:hovar a {
    border: #ff9f00 solid 2px;
    color: #fff;
    text-shadow: 10px 8px 13px #00000065;
  }

  .about_me_button button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: #fff;
    text-shadow: 10px 8px 13px #00000065;
    font-weight: bolder;
  }
  /* END OF HOME PAGE */
  @media screen and (max-width: 960px) {
    .home_wrapper {
      display: flex;
      height: 80vh;
      color: #fff;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-image: linear-gradient(rgb(48, 47, 47), rgba(255, 0, 0, 0));
    }

    .home_container {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: center;
      display: flex;
    }
  
  
    .home_item {
      display: flex;
      padding: 10px;
      margin: 10px;
      width: 80%;
      height: 50%;
      box-shadow: 16px 14px 20px #0000008c;
      border-radius: 20px;
      position: relative;
      justify-content: first baseline;
      align-items: center;
      border-left: #ff9f00 solid 5px;
      animation-name: border;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      /* animation-timing-function: ease-in-out; */
      animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
      animation-direction: alternate-reverse;
      background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(39, 38, 38));
    }

    /* .home_container {
      margin: 0;
      padding: 0;
    } */
  
    .home_text {
      text-align: left;
      z-index: 99;
      margin: 0px;
      padding-left: 30px;
    }
  
    .image_home {
      transform: scale(1);
      /* padding-right: 100px; */
      position: relative;
      margin: 0px;
      padding: 0px;
    }
  
    .home_text h3 {
      font-weight: lighter;
      color: #ff9f00;
      width: 12ch;
      animation: typing 2s steps(22), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-size: .5rem;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
    
  
    .home_text h1 {
      font-size: 2rem;
      font-weight: bolder;
      text-shadow: 10px 8px 13px #00000065;
  
    }
  
    .home_text p {
      margin: 200px, 0px;
      text-shadow: 10px 8px 13px #00000065;
  
    }
  
    .image_home img {
      /* border-bottom: #ff9f00 solid 10px; */
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      position: relative;
      text-shadow: 10px 10px 13px #00000091;
      padding-left: 30px;
    }
  
  
    .about_me_button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 85%;
      left: 50%;
      /* transform: translate(-50%, -50%); */
      color: #fff;
      /* background-color: #ff9f00; */
      border: #ff9f00 solid 2px;
      padding: 3px;
      width: 5rem;
      border-radius: 40px;
      text-decoration: none;
      color: #fff;
    }
  
    .about_me_button a {
      position: relative;
      color: #fff;
    }
  
    .about_me_button:hovar a {
      border: #ff9f00 solid 2px;
      color: #fff;
      text-shadow: 10px 8px 13px #00000065;
    }
  
    .about_me_button button {
      background-color: rgba(255, 0, 0, 0);
      border: none;
      color: #fff;
      text-shadow: 10px 8px 13px #00000065;
      font-weight: bolder;
    }

  }

  @media screen and (max-width: 400px) {
    .home_wrapper {
      display: flex;
      flex-direction: column;
      height: 80vh;
      color: #fff;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-image: linear-gradient(rgb(48, 47, 47), rgba(255, 0, 0, 0));
    }

    .home_container {
      width: 100%;
      padding: 0px;
      margin: 0px;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  
  
    .home_item {
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 0px;
      width: 80%;
      height: 50%;
      box-shadow: 16px 14px 20px #0000008c;
      border-radius: 20px;
      position: relative;
      justify-content: first baseline;
      align-items: center;
      border-left: #ff9f00 solid 5px;
      animation-name: border;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      /* animation-timing-function: ease-in-out; */
      animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
      animation-direction: alternate-reverse;
      background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(39, 38, 38));
    }

    /* .home_container {
      margin: 0;
      padding: 0;
    } */
  
    .home_text {
      text-align: left;
      align-items: center;
      z-index: 99;
      margin: 0px;
      padding-left: 30px;
      transform: scale(.5);
    }
  
    .image_home {
      transform: scale(0.1);
      /* padding-right: 100px; */
      position: relative;
      margin: 0px;
      /* padding-right: -15px; */
    }
  
    .home_text h3 {
      font-weight: lighter;
      color: #ff9f00;
      width: 12ch;
      animation: typing 2s steps(22), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-size: .5rem;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
    
  
    .home_text h1 {
      font-size: 1rem;
      font-weight: bolder;
      text-shadow: 10px 8px 13px #00000065;
  
    }
  
    .home_text p {
      margin: 200px, 0px;
      text-shadow: 10px 8px 13px #00000065;
      font-size: .2rem;

  
    }
  
    .image_home img {
      /* border-bottom: #ff9f00 solid 10px; */
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      position: relative;
      text-shadow: 10px 10px 13px #00000091;
      padding-left: 30px;
      transform: scale(.5);
    }
  
    .about_me_button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 85%;
      left: 50%;
      /* transform: translate(-50%, -50%); */
      color: #fff;
      /* background-color: #ff9f00; */
      border: #ff9f00 solid 2px;
      padding: 3px;
      width: 5rem;
      border-radius: 40px;
      text-decoration: none;
      color: #fff;
    }
  
    .about_me_button a {
      position: relative;
      color: #fff;
    }
  
    .about_me_button:hovar a {
      border: #ff9f00 solid 2px;
      color: #fff;
      text-shadow: 10px 8px 13px #00000065;
    }
  
    .about_me_button button {
      background-color: rgba(255, 0, 0, 0);
      border: none;
      color: #fff;
      text-shadow: 10px 8px 13px #00000065;
      font-weight: bolder;
    }

  }

 





    


   


