 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.navbar {
    background:rgb(48, 47, 47);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }


#navbar__logo {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.navbar__menu {
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
}
.navbar__item {
    height: 80%;
}
.navbar__links {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    transition: all 0.6s ease;

}
.navbar__links:hover {
    color: yellow;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        z-index: 1;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0; 
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        background: rgb(48, 47, 47);
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        top: -1000px;
        padding-bottom: 30px;
    }

    .navbar__menu.active {
        background: rgb(48, 47, 47);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 65vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
    
      .navbar__toggle .bar {
        display: block;
        cursor: pointer;
      }
      #mobile-menu.is-active .bar:nth-child(2) {
          opacity: 0;
      }
      #mobile-menu.is-active .bar:nth-child(1) {
          transform: translatey(8px) rotate(45deg);
      }
      #mobile-menu.is-active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
      }    
}
body{
margin: 0;
padding: 0;
align-items: center;
height: 100vh;
background-color: lightgrey;
justify-content: center;
}
.slider{
    width: 150%px;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

  }
  
  .slides{
    width: 100;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 1000px;
    transition: 2s;
  }
  
  .slide img{
    width: 500px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid rgb(48, 47, 47);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: rgb(48, 47, 47);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  #radio5:checked ~ .first{
    margin-left: -80%;
  }
  #radio6:checked ~ .first{
    margin-left: -100%;
  }
  #radio7:checked ~ .first{
    margin-left: -120%;
  }

  /* css automatic navigation */
  
  .navigation-auto {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 520px;
  }

  .navigation-auto div{
    border: 2px solid rgb(48, 47, 47);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    }
    .navigation-auto div:not(:last-child) {
      margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1  {
      background: rgb(48, 47, 47);
    }

    #radio2:checked ~ .navigation-auto .auto-btn2  {
      background: rgb(48, 47, 47);
    }

    #radio3:checked ~ .navigation-auto .auto-btn3  {
      background: rgb(48, 47, 47);
    }

    #radio4:checked ~ .navigation-auto .auto-btn4  {
      background: rgb(48, 47, 47);
    }

    #radio5:checked ~ .navigation-auto .auto-btn5  {
      background: rgb(48, 47, 47);
    }

    #radio6:checked ~ .navigation-auto .auto-btn6  {
      background: rgb(48, 47, 47);
    }

    #radio7:checked ~ .navigation-auto .auto-btn7  {
      background: rgb(48, 47, 47);
    }

    /* Home Section */
    .hero {
      background-color: black;
      height: 50vh;
      max-width: 1400px;
      background-image: url("photos/photo8.png");
      color: white;
      filter: invert();
    }
    .hero-container {
      justify-content: center;
      text-align: center;
      align-items: center;
      display: grid;
    }
    .hero-heading {
      text-align: center;
      justify-content: center;
      margin-top: 100px;
      /* position: absolute; */
    }
     /* End of Home Section */
     /* About Section */
     .about-wrapper {
       width: 100%;
     }
     .about-wrapper img {
       width: 100%;
     }
     .text-wrapper {
       width: 100%;
       position: relative;
       margin-top: -8%;
       vertical-align: middle;
     }
     .text-wrapper h1 {
       text-align: center;
       color:black;
       font-size: 3rem;
       font-family: Georgia, 'Times New Roman', Times, serif;
     }
     .text-wrapper span {
       font-family: "Playfair Display",serif;;
       font-size: 3rem;
       font-style: italic;
     }
     /* End of About Section */
     /* Table Images Sextion */
     .table {
       justify-content: center;
       display: flex;
     }

     .table-container {
       margin-top: 10%;
     }

     /* End of Table Images Sextion */


     /* //////////////////////////////////////////////////////////////// */
     /* Table Content Design */
     .table_content  {
      display: flex;
      margin-bottom: 100px;
     }
     .second-row {
      margin-top:  50px;
      position: relative;
      align-items: center;
      justify-content: center;
     }
     .photo1_fr {
       display: table;
       justify-content: center;
       align-items: center;
       position: relative;
     }
     /* End Of Table Content Design */
     /* //////////////////////////////////////////////////////////////// */



     /* //////////////////////////////////////////////////////////////// */
    /* Start edit the icons */
    .fa-heart {
      color: #c1decc;
      animation: ease-in-out;
    }
    .fa-comments {
      color: #F8D12D;
    }
    .fa-lightbulb {
      color: #80465F;
    }
    .fa-file-circle-check {
      color: #FCB57E;
    }
    .fa-cloud {
      color: #B6E7E9;
    }
    .fa-pen-to-square {
      color: #F0CEBE;
    }
    /* End edit the icons */
         /* //////////////////////////////////////////////////////////////// */
         .flex-wrapper {
          display: flex;
          flex-flow: row nowrap;
        }
        .static-container {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          margin-bottom: 100px;
          height: 200px;
        }

        .static-1 {
          text-align: center;
        }
        .static-2 {
          text-align: center;
        }
        .static-3 {
          text-align: center;
        }
        .static-4 {
          text-align: center;
        }
      
        .single-chart {
          width: 33%;
          justify-content: space-around ;
        }
        
        .circular-chart {
          display: block;
          margin: 10px auto;
          max-width: 80%;
          max-height: 250px;
        }
        
        .circle-bg {
          fill: none;
          stroke: #eee;
          stroke-width: 3.8;
        }
        
        .circle {
          fill: none;
          stroke-width: 2.8;
          stroke-linecap: round;
          animation: progress 1s ease-out forwards;
        }
        
        @keyframes progress {
          0% {
            stroke-dasharray: 0 100;
          }
        }
        
        .circular-chart.orange .circle {
          stroke: #ff9f00;
        }
        
        .circular-chart.green .circle {
          stroke: #4CC790;
        }
        
        .circular-chart.blue .circle {
          stroke: #3c9ee5;
        }

        .circular-chart.bricks--color .circle {
          stroke: #80465F;
        }
        
        .percentage {
          fill: #666;
          font-family: sans-serif;
          font-size: 0.5em;
          text-anchor: middle;
        }

        /* Start `footer */
        #footer {
          display: flex;
          flex-flow: row nowrap;
          background-color: rgb(48, 47, 47);
          height: 200px;
        }

        .footer-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          color: #ffff;
          align-items: center;
        }

        .branding-section {
          display: block;
          max-width: 80%;
        }


     
